body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 12px;
}

.header-links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    background-color: #1f2937;
    color: #F9FAF8;
}

.logotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.prompt {
    display: flex;
    flex-direction: column;
}

.signup {
    width: 100px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.signup2 {
    width: 100px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
}

.lineup {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.infopic {
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.quote {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #E5E7EB;
}

.main-quote {
    font-size: 40px;
    font-style: italic;
}

.source {
    font-size: 20px;
    text-align: right;
}

.modal {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.action {
    line-height: 50%
}
.calltoaction {
    font-size: 30px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
    font-size: 32px;
}


a {
    text-decoration: none;
}