body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 12px;
}

.header-links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.signup-container {
    display: flex;
}

.logotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.prompt {
    display: flex;
    flex-direction: column;
}

.signup {
    max-width: 100px;
}

.lineup {
    display: flex;
    justify-content: space-around;
    
}

.info {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
    font-size: 32px;
}

a {
    text-decoration: none;
}